<div class="carousel-custom">
  <div class="carousel-custom-item relative w-full">
    @if(this.config.seasonalSale) {
    <a
      [routerLink]="['/products']"
      [queryParams]="getQueryParameters()"
      class="w-full h-full"
    >
      <img [src]="getCurrentSlideSrc()" class="w-full h-full" />
    </a>
    }@else{
    <img [src]="getCurrentSlideSrc()" class="w-full h-full" />
    } @if(this.slides.length > 1) {
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <button
        (click)="goToPrevious()"
        class="btn btn-circle opacity-45 hover:opacity-100 transition-opacity duration-200 ease-in-out"
      >
        ❮
      </button>
      <button
        (click)="goToNext()"
        class="btn btn-circle opacity-45 hover:opacity-100 transition-opacity duration-200 ease-in-out"
      >
        ❯
      </button>
    </div>
    }
  </div>
</div>
