<app-search-bar></app-search-bar>
<section class="bg-white py-8 antialiased md:py-16 min-h-screen">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mx-auto max-w-5xl">
      <div class="gap-4 sm:flex sm:items-center sm:justify-between">
        <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">
          My orders
        </h2>
      </div>

      <div class="mt-6 flow-root sm:mt-8">
        @for(order of orders().items; track $index) {
        <div class="divide-y divide-gray-200">
          <div class="flex flex-wrap items-center gap-y-4 py-6">
            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt class="text-base font-medium text-gray-500">Order ID:</dt>
              <dd class="mt-1.5 text-base font-semibold text-gray-900">
                <span class="text-sm"
                  >#{{ order.orderHeader?.orderHeaderId }}</span
                >
              </dd>
            </dl>

            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt class="text-base font-medium text-gray-500">Order Date:</dt>
              <dd class="mt-1.5 text-base font-semibold text-gray-900">
                {{ order.orderHeader?.dateCreated | date }}
              </dd>
            </dl>

            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt class="text-base font-medium text-gray-500">Price:</dt>
              <dd class="mt-1.5 text-base font-semibold text-gray-900">
                {{ order.orderHeader?.totalPrice | currency : "EUR" }}
              </dd>
            </dl>

            <dl class="w-1/2 sm:w-1/4 lg:w-auto lg:flex-1">
              <dt class="text-base font-medium text-gray-500">Status:</dt>
              @if(order.orderHeader?.orderCancelled) {
              <dd
                class="me-2 mt-1.5 inline-flex items-center rounded bg-primary-100 px-2.5 py-1 text-xs font-medium text-gray-50 bg-red-500"
              >
                <svg
                  class="me-1 h-4 w-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18 17.94 6M18 18 6.06 6"
                  />
                </svg>
                Cancelled
              </dd>
              }@else if (!order.orderHeader?.orderCancelled &&
              !order.orderHeader?.paymentComplete) {
              <dd
                class="me-2 mt-1.5 inline-flex items-center rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-gray-50 bg-light-blue-200"
              >
                <svg
                  class="me-1 h-4 w-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z"
                  />
                </svg>
                Payment Pending
              </dd>
              }@else if (!order.orderHeader?.orderCancelled &&
              order.orderHeader?.paymentComplete) {
              <dd
                class="me-2 mt-1.5 inline-flex items-center rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium bg-green-700 text-gray-50"
              >
                <svg
                  class="me-1 h-4 w-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 11.917 9.724 16.5 19 7.5"
                  />
                </svg>
                Payment Confirmed
              </dd>
              }
            </dl>

            <div
              class="w-full grid sm:grid-cols-2 lg:flex lg:w-64 lg:items-center lg:justify-end gap-4"
            >
              <button
                (click)="cancelOrder(order.orderHeader?.orderHeaderId!)"
                [disabled]="order.orderHeader?.orderCancelled"
                type="button"
                class="w-full rounded-lg border border-red-700 px-3 py-2 text-center text-sm font-medium text-red-700 hover:bg-red-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-red-300 lg:w-auto disabled:opacity-50 disabled:cursor-not-allowed"
              >
                Cancel order
              </button>
              <a
                [routerLink]="['/checkout/', order.orderHeader?.orderHeaderId]"
                class="w-full inline-flex justify-center rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 lg:w-auto"
                >View details</a
              >
            </div>
          </div>
        </div>
        }
      </div>
      <app-order-paginator [pagination]="pagination()"></app-order-paginator>
    </div>
  </div>
</section>
