<app-search-bar></app-search-bar>
@if(order$ |async ; as order) {
<article class="py-14 px-4 md:px-6 2xl:px-20 2xl:container 2xl:mx-auto">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3 sm:gap-8 py-6 border-y border-gray-100 mb-6"
  >
    <div>
      <p
        class="font-normal text-base leading-7 text-gray-500 mb-3 transition-all duration-500 group-hover:text-gray-700"
      >
        Order Date
      </p>
      <h6 class="font-semibold font-manrope text-2xl leading-9 text-black">
        {{ order.orderHeader?.dateCreated | date }}
      </h6>
    </div>
    <div>
      <p
        class="font-normal text-base leading-7 text-gray-500 mb-3 transition-all duration-500 group-hover:text-gray-700"
      >
        Order
      </p>
      <h6
        class="font-semibold font-manrope text-sm whitespace-nowrap leading-9 text-black"
      >
        #{{ order.orderHeader?.orderHeaderId }}
      </h6>
    </div>
    <div>
      <p
        class="font-normal text-base leading-7 text-gray-500 mb-3 transition-all duration-500 group-hover:text-gray-700"
      >
        Payment Status
      </p>
      @if(order.orderHeader?.orderCancelled) {
      <div
        class="me-2 mt-1.5 inline-flex items-center rounded bg-red-900 px-2.5 py-1 text-xs font-medium text-gray-50"
      >
        <svg
          class="me-1 h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18 17.94 6M18 18 6.06 6"
          />
        </svg>
        <span>Cancelled</span>
      </div>
      }@else if (!order.orderHeader?.orderCancelled &&
      !order.orderHeader?.paymentComplete) {
      <div
        class="me-2 mt-1.5 inline-flex items-center rounded bg-primary px-2.5 py-1 text-xs font-medium text-gray-50"
      >
        <svg
          class="me-1 h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z"
          />
        </svg>
        <span>Payment Pending</span>
      </div>
      }@else if(!order.orderHeader?.orderCancelled &&
      order.orderHeader?.paymentComplete) {
      <div
        class="me-2 mt-1.5 inline-flex items-center rounded bg-green-700 px-2.5 py-1 text-xs font-medium text-gray-50"
      >
        <svg
          class="me-1 h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 11.917 9.724 16.5 19 7.5"
          />
        </svg>
        <span>Payment Confirmed</span>
      </div>
      }
    </div>
    @if(order.orderHeader?.paymentComplete) {
    <div>
      <p
        class="font-normal text-base leading-7 text-gray-500 mb-3 transition-all duration-500 group-hover:text-gray-700"
      >
        Delivery Date
      </p>
      <h6 class="font-semibold font-manrope text-2xl leading-9 text-black">
        {{
          calculateDeliveryDate(order.orderHeader?.dateCreated?.toString())
            | date
        }}
      </h6>
    </div>
    }
  </div>
  <div
    class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0"
  >
    <div
      class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8"
    >
      <div
        class="flex flex-col justify-start items-start bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full"
      >
        <p
          class="text-lg md:text-xl font-semibold leading-6 xl:leading-5 text-gray-800"
        >
          Customer’s Cart
        </p>
        @for(detail of order.orderDetails; track $index) {
        <div
          class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full"
        >
          <div class="pb-4 md:pb-8 w-full md:w-40">
            <img
              class="w-full"
              [src]="detail.orderProduct?.image"
              [alt]="'product' + $index"
            />
          </div>
          <div
            class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0"
          >
            <div
              class="w-full flex flex-col justify-start items-start space-y-8"
            >
              <h3
                class="text-xl xl:text-2xl font-semibold leading-6 text-gray-800"
              >
                {{ detail.orderProduct?.productName }}
              </h3>
            </div>
            <div class="flex justify-between space-x-8 items-start w-full">
              <p class="text-base xl:text-lg leading-6 text-gray-800">
                0{{ detail.quantity }}
              </p>
              <p
                class="text-base xl:text-lg font-semibold leading-6 text-gray-800"
              >
                {{ detail.individualPrice | currency : "EUR" }}
              </p>
            </div>
          </div>
        </div>
        }
      </div>
      <div
        class="flex justify-center md:flex-row flex-col items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8"
      >
        <div
          class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 space-y-6"
        >
          <h3 class="text-xl font-semibold leading-5 text-gray-800">Summary</h3>
          <div
            class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4"
          >
            <div class="flex justify-between w-full">
              <p class="text-base leading-4 text-gray-800">Subtotal</p>
              <p class="text-base leading-4 text-gray-600">
                {{
                  (order.orderHeader?.totalPrice! < 80
                    ? order.orderHeader?.totalPrice! - 30
                    : order.orderHeader?.totalPrice
                  ) | currency : "EUR"
                }}
              </p>
            </div>

            <div class="flex justify-between items-center w-full">
              <p class="text-base leading-4 text-gray-800">Shipping</p>
              <p class="text-base leading-4 text-gray-600">
                {{
                  (order.orderHeader?.totalPrice! > 80 ? 0 : 30)
                    | currency : "EUR"
                }}
              </p>
            </div>
          </div>
          <div class="flex justify-between items-center w-full">
            <p class="text-base font-semibold leading-4 text-gray-800">Total</p>
            <p class="text-base font-semibold leading-4 text-gray-600">
              $36.00
            </p>
          </div>
        </div>
        @if(!order.orderHeader?.orderCancelled) {
        <div
          class="flex flex-col justify-center px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 space-y-6"
        >
          <h3 class="text-xl font-semibold leading-5 text-gray-800">Payment</h3>
          <div class="flex justify-between items-start w-full">
            <div class="flex justify-center items-center space-x-4">
              <div class="w-8 h-8">
                <img
                  class="w-full h-full"
                  alt="logo"
                  src="https://i.ibb.co/L8KSdNQ/image-3.png"
                />
              </div>
              <div class="flex flex-col justify-start items-center">
                <p class="text-lg leading-6 font-semibold text-gray-800">
                  DPD Delivery<br /><span class="font-normal"
                    >Delivery within 72 Hours</span
                  >
                </p>
              </div>
            </div>
            <p class="text-lg font-semibold leading-6 text-gray-800">
              {{
                (order.orderHeader?.totalPrice! > 80 ? 0 : 30)
                  | currency : "EUR"
              }}
            </p>
          </div>
          <div class="w-full flex justify-center items-center space-x-2">
            <button
              (click)="cancelOrder(order.orderHeader?.orderHeaderId!)"
              type="button"
              class="w-full rounded-lg border border-red-700 px-3 py-2 text-center text-sm font-medium text-red-700 hover:bg-red-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-red-300"
            >
              Cancel order
            </button>
            <button
              [disabled]="order.orderHeader?.paymentComplete"
              (click)="proceedToPayment()"
              type="button"
              class="w-full rounded-lg border border-indigo-700 px-3 py-2 text-center text-sm font-medium text-indigo-700 hover:bg-indigo-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-indigo-300 disabled:opacity-50 disabled:cursor-not-allowed"
            >
              Proceed to payment
            </button>
          </div>
        </div>
        }@else {
        <div class="p-4 flex items-center justify-between">
          <div class="flex items-center">
            <div class="bg-red-100 rounded-full p-2 mr-4">
              <svg
                class="w-6 h-6 text-red-500"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9 9L15 15"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M15 9L9 15"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div>
              <h3 class="text-lg font-bold text-gray-800">Order Cancelled</h3>
              <p class="text-gray-600 text-lg whitespace-nowrap">
                Your order has been cancelled.
              </p>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    @if(user$ | async; as user) {
    <div
      class="bg-gray-50 w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col"
    >
      <h3 class="text-xl font-semibold leading-5 text-gray-800">Customer</h3>
      <div
        class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0"
      >
        <div class="flex flex-col justify-start items-start flex-shrink-0">
          <div
            class="flex justify-center w-full md:justify-start items-center space-x-4 py-8 border-b border-gray-200"
          >
            <img [src]="user.picture" class="h-14 w-14" alt="avatar" />
            <div class="flex justify-start items-start flex-col space-y-2">
              <p
                class="text-sm font-semibold leading-4 text-left text-gray-800"
              >
                {{
                  user.userMetadata?.firstName +
                    " " +
                    user.userMetadata?.lastName
                }}
              </p>
            </div>
          </div>
        </div>
        <div
          class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0"
        >
          <div
            class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start"
          >
            <div
              class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8"
            >
              <p
                class="text-base font-semibold leading-4 text-center md:text-left text-gray-800"
              >
                Shipping Address
              </p>
              <p
                class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600"
              >
                {{ order.orderHeader?.personalInfo?.country }},
                {{ order.orderHeader?.personalInfo?.state }},
                {{ order.orderHeader?.personalInfo?.city }},
                {{ order.orderHeader?.personalInfo?.address }}
              </p>
            </div>
          </div>
          <div
            class="flex w-full justify-center items-center md:justify-start md:items-start lg:my-0 my-4"
          >
            <button
              [routerLink]="[
                '/edit-personal-info/',
                order.orderHeader?.orderHeaderId
              ]"
              class="mt-6 md:mt-0 py-5 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 border border-gray-800 font-medium w-96 2xl:w-full text-base leading-4 text-gray-800"
            >
              Edit Details
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</article>

}
