<app-search-bar></app-search-bar>
<div
  class="mx-auto container px-4 md:px-6 2xl:px-0 py-12 flex justify-center items-center min-h-screen"
>
  <div class="flex flex-col justify-start items-start">
    <div class="absolute top-5 left-5">
      <div class="mt-3">
        <h1
          class="text-3xl lg:text-4xl tracking-tight font-semibold leading-8 lg:leading-9 text-indigo-900"
        >
          Wishlist
        </h1>
      </div>
      <div class="mt-4">
        <p class="text-2xl tracking-tight leading-6">
          <span>{{ (wishlist$ | async)?.length }}</span
          >&nbsp;items
        </p>
      </div>
    </div>
    <div
      class="mt-24 lg:mt-12 grid grid-cols-1 lg:grid-cols-3 sm:grid-cols-2 gap-x-9 gap-y-10"
    >
      @for(item of (wishlist$ | async); track $index) {
      <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow"
      >
        <img
          class="p-6 w-full rounded-t-lg min-h-[200px] max-h-[200px]"
          [src]="item?.imageList?.[0]"
          [alt]="'image' + $index"
        />
        <div class="px-5 pb-5 my-auto">
          <div class="flex justify-between">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900">
              {{ item.productName }}
            </h5>
            <button (click)="removeFromWishlist(item.productId!)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-5"
              >
                <path
                  d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                />
              </svg>
            </button>
          </div>
          <div class="flex items-center mt-2.5 mb-5">
            <div class="flex items-center space-x-1 rtl:space-x-reverse">
              @for(star of [1,2,3,4,5]; track $index) {
              <svg
                class="w-4 h-4"
                [ngClass]="
                  star <= item.rating! ? 'text-yellow-400' : 'text-gray-400'
                "
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              }
            </div>
            <span
              class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"
              >{{ roundDecimal(item.rating!) }}</span
            >
          </div>
          <div class="flex flex-col items-start whitespace-nowrap space-y-4">
            <div class="text-lg font-bold text-gray-900">
              @if(item.hasDiscount) {
              <div class="flex space-x-1 items-center">
                <span class="strikethrough">{{
                  item.price | currency : "EUR"
                }}</span>
                <span>{{
                  calculateDiscount(item.price!, item.discountAmount!)
                    | currency : "EUR"
                }}</span>
                <span class="text-green-900 text-sm"
                  >{{ item.discountAmount }}% OFF</span
                >
              </div>
              }@else {
              <span>$599</span>
              }
            </div>

            <button
              [routerLink]="['/products/detail', item.productId]"
              (click)="openModal()"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
            >
              Add To Cart / Details
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      }@empty {
      <div class="flex flex-col bg-indigo-50 rounded-lg p-6">
        <div class="text-center">
          <p class="text-lg font-semibold text-gray-800">
            No items found at the moment
          </p>
        </div>
        <div class="mt-6">
          <p class="text-base font-medium text-gray-600">
            Please check again later or explore our other products.
          </p>
        </div>
        <div class="mt-6">
          <button
            [routerLink]="['/products']"
            class="bg-indigo-800 text-white py-2 px-4 rounded-md hover:bg-indigo-700"
          >
            Explore More
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>
