<div class="min-h-screen flex flex-col items-center justify-center">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="green"
    viewBox="0 0 24 24"
    class="size-24"
  >
    <path
      fill-rule="evenodd"
      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
      clip-rule="evenodd"
    />
  </svg>

  <h2 class="text-2xl font-bold mt-4 text-green-600">Payment Successful</h2>
  @if(order$ | async; as order) {
  <div class="flex flex-col space-y-4 my-6 text-center text-xl">
    <span>Order ID: {{ order.orderHeader?.orderHeaderId }}</span>
    <span>Total: {{ order.orderHeader?.totalPrice | currency : "EUR" }}</span>
    <span
      >Ship to: {{ order.orderHeader?.personalInfo?.country }},
      {{ order.orderHeader?.personalInfo?.city }},
      {{ order.orderHeader?.personalInfo?.address }}</span
    >
    <span>Estimated delivery time: 3 working days</span>
    <span class="text-lg">We've sent you an email with the details</span>
    <h1 class="text-2xl font-bold">Thank you for shopping with us!</h1>
  </div>
  }
</div>
