<section class="flex flex-col gap-y-4">
  <h3 class="mb-4 text-lg font-medium leading-none text-white py-4">
    Active Promotions
  </h3>
  <form
    (submit)="handleDiscountSubmit($event)"
    class="flex justify-between"
    [formGroup]="discountGroup"
  >
    <select
      class="select select-bordered w-full max-w-xs font-raleway"
      [formControlName]="'discountId'"
    >
      <option [ngValue]="null" disabled>Select a discount</option>
      @for(item of promotions().discounts; track $index) {
      <option [value]="item.discountId">
        <span> {{ item.discountName }} : </span>&nbsp;<span>
          {{ item.discountAmount }}% OFF
        </span>
      </option>
      }
    </select>
    <button
      type="submit"
      class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Submit
      </span>
    </button>
  </form>

  <form
    (submit)="handleCollectionSubmit($event)"
    class="flex justify-between"
    [formGroup]="collectionGroup"
  >
    <select
      class="select select-bordered w-full max-w-xs font-raleway"
      [formControlName]="'collectionId'"
    >
      <option [ngValue]="null" disabled>Select a collection</option>
      @for(item of promotions().collections; track $index) {
      <option [value]="item.collectionId">
        {{ item.collectionName }}
      </option>
      }
    </select>
    <button
      type="submit"
      class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
    >
      <span
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
      >
        Submit
      </span>
    </button>
  </form>
</section>
