<div class="overflow-x-auto min-h-[75vh]">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>PRODUCT NAME</th>
        <th>CATEGORY NAME</th>
        <th>SUBCATEGORY NAME</th>
        <th>ID</th>
        <th>PRICE</th>
      </tr>
    </thead>
    <tbody>
      @for(product of products; track $index) {
      <tr>
        <td>{{ product.productName }}</td>
        <td>{{ product.subcategories?.categories?.categoryName }}</td>
        <td>{{ product.subcategories?.subcategoryName }}</td>
        <td>{{ product.productId }}</td>
        <td>{{ product.price | currency : "EUR" }}</td>
        <td>
          <button
            (click)="openModal()"
            [routerLink]="'/edit/' + product.productId"
            type="button"
            class="flex items-center justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br whitespace-nowrap focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 gap-x-1"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                />
              </svg> </span
            >Edit Product
          </button>
        </td>
        <td>
          <button
            (click)="deleteProduct(product.productId!)"
            type="button"
            class="flex items-center justify-center text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br whitespace-nowrap focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 gap-x-1"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                />
              </svg> </span
            >Delete Product
          </button>
        </td>
        <td>
          <button
            (click)="openModal()"
            [routerLink]="['add-promotion/', product.productId]"
            type="button"
            class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 flex whitespace-nowrap items-center gap-x-1"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605"
                />
              </svg> </span
            >Add Promotion
          </button>
        </td>
        <td>
          <div class="flex space-x-2">
            <button
              [disabled]="!product.hasDiscount"
              (click)="removeDiscount(product.productId!, product.discountId!)"
              type="button"
              class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 flex whitespace-nowrap items-center gap-x-1 w-1/2 disabled:opacity-50 disabled:cursor-not-allowed"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg> </span
              >Remove Discount
            </button>
            <button
              (click)="
                removeProductFromcollection(
                  product.productId!,
                  product.collectionId!
                )
              "
              [disabled]="!product.isInCollection"
              type="button"
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-3 py-2.5 text-center mx-auto mb-2 flex whitespace-nowrap items-center gap-x-1 w-1/2 disabled:opacity-50 disabled:cursor-not-allowed"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg> </span
              >Remove From Collection
            </button>
          </div>
        </td>
      </tr>
      } @empty {
      <td
        class="w-full flex items-center flex-wrap justify-center gap-10 py-12"
      >
        <div class="grid gap-4 w-60">
          <svg
            class="mx-auto"
            xmlns="http://www.w3.org/2000/svg"
            width="116"
            height="121"
            viewBox="0 0 116 121"
            fill="none"
          >
            <path
              d="M0.206909 63.57C0.206909 31.7659 25.987 6.12817 57.6487 6.12817C89.2631 6.12817 115.079 31.7541 115.079 63.57C115.079 77.0648 110.43 89.4805 102.627 99.2755C91.8719 112.853 75.4363 121 57.6487 121C39.7426 121 23.4018 112.794 12.6582 99.2755C4.85538 89.4805 0.206909 77.0648 0.206909 63.57Z"
              fill="#EEF2FF"
            />
            <path
              d="M72.7942 0.600875L72.7942 0.600762L72.7836 0.599331C72.3256 0.537722 71.8622 0.5 71.3948 0.5H22.1643C17.1256 0.5 13.0403 4.56385 13.0403 9.58544V107.286C13.0403 112.308 17.1256 116.372 22.1643 116.372H93.1214C98.1725 116.372 102.245 112.308 102.245 107.286V29.4482C102.245 28.7591 102.17 28.0815 102.019 27.4162L102.019 27.416C101.615 25.6459 100.67 24.0014 99.2941 22.7574C99.2939 22.7572 99.2937 22.757 99.2934 22.7568L77.5462 2.89705C77.5461 2.89692 77.5459 2.89679 77.5458 2.89665C76.2103 1.66765 74.5591 0.876968 72.7942 0.600875Z"
              fill="white"
              stroke="#E5E7EB"
            />
            <circle cx="60.2069" cy="61" r="21.0256" fill="#EEF2FF" />
            <path
              d="M74.6786 46.1412L74.6783 46.1409C66.5737 38.0485 53.4531 38.0481 45.36 46.1412C37.2552 54.2341 37.2551 67.3666 45.3597 75.4596C53.4529 83.5649 66.5739 83.5645 74.6786 75.4599C82.7716 67.3669 82.7716 54.2342 74.6786 46.1412ZM79.4694 41.3508C90.2101 52.0918 90.2101 69.5093 79.4694 80.2502C68.7166 90.9914 51.3104 90.9915 40.5576 80.2504C29.8166 69.5095 29.8166 52.0916 40.5576 41.3506C51.3104 30.6096 68.7166 30.6097 79.4694 41.3508Z"
              stroke="#E5E7EB"
            />
            <path
              d="M83.2471 89.5237L76.8609 83.1309C78.9391 81.5058 80.8156 79.6106 82.345 77.6546L88.7306 84.0468L83.2471 89.5237Z"
              stroke="#E5E7EB"
            />
            <path
              d="M104.591 94.4971L104.59 94.4969L92.7346 82.653C92.7342 82.6525 92.7337 82.652 92.7332 82.6515C91.6965 81.6018 90.0076 81.6058 88.9629 82.6505L89.3089 82.9965L88.9629 82.6505L81.8573 89.7561C80.8213 90.7921 80.8248 92.4783 81.8549 93.5229L81.8573 93.5253L93.7157 105.384C96.713 108.381 101.593 108.381 104.591 105.384C107.6 102.375 107.6 97.5062 104.591 94.4971Z"
              fill="#A5B4FC"
              stroke="#818CF8"
            />
            <path
              d="M62.5493 65.6714C62.0645 65.6714 61.6626 65.2694 61.6626 64.7729C61.6626 62.7866 58.6595 62.7866 58.6595 64.7729C58.6595 65.2694 58.2576 65.6714 57.761 65.6714C57.2762 65.6714 56.8743 65.2694 56.8743 64.7729C56.8743 60.422 63.4478 60.4338 63.4478 64.7729C63.4478 65.2694 63.0458 65.6714 62.5493 65.6714Z"
              fill="#4F46E5"
            />
            <path
              d="M70.1752 58.0694H66.4628C65.9662 58.0694 65.5642 57.6675 65.5642 57.1709C65.5642 56.6862 65.9662 56.2842 66.4628 56.2842H70.1752C70.6717 56.2842 71.0737 56.6862 71.0737 57.1709C71.0737 57.6675 70.6717 58.0694 70.1752 58.0694Z"
              fill="#4F46E5"
            />
            <path
              d="M53.8596 58.0693H50.1472C49.6506 58.0693 49.2487 57.6673 49.2487 57.1708C49.2487 56.686 49.6506 56.2841 50.1472 56.2841H53.8596C54.3443 56.2841 54.7463 56.686 54.7463 57.1708C54.7463 57.6673 54.3443 58.0693 53.8596 58.0693Z"
              fill="#4F46E5"
            />
            <rect
              x="28.9248"
              y="16.3846"
              width="30.7692"
              height="2.05128"
              rx="1.02564"
              fill="#4F46E5"
            />
            <rect
              x="28.9248"
              y="100.487"
              width="41.0256"
              height="4.10256"
              rx="2.05128"
              fill="#A5B4FC"
            />
            <rect
              x="28.9248"
              y="22.5385"
              width="10.2564"
              height="2.05128"
              rx="1.02564"
              fill="#4F46E5"
            />
            <circle cx="42.2582" cy="23.5641" r="1.02564" fill="#4F46E5" />
            <circle cx="46.3607" cy="23.5641" r="1.02564" fill="#4F46E5" />
            <circle cx="50.4633" cy="23.5641" r="1.02564" fill="#4F46E5" />
          </svg>
          <div>
            <h2
              class="text-center text-white text-base font-semibold leading-relaxed pb-1"
            >
              There’s no product here
            </h2>
            <p
              class="text-center text-white text-sm font-normal leading-snug pb-4"
            >
              Try clearing your filters.
            </p>

            <button
              class="w-full px-3 py-2 bg-indigo-600 hover:bg-indigo-700 transition-all duration-500 rounded-full text-white text-xs font-semibold leading-4"
              (click)="clear()"
            >
              Clear Filter
            </button>
          </div>
        </div>
      </td>
      }
    </tbody>
  </table>
</div>

<div class="flex flex-col items-center mt-4">
  <span class="text-sm text-gray-700 dark:text-gray-400">
    Showing
    <span class="font-semibold text-gray-900 dark:text-white">{{
      pagination.pageIndex!
    }}</span>
    to
    <span class="font-semibold text-gray-900 dark:text-white">{{
      pagination.pageCount
    }}</span>
    of
    <span class="font-semibold text-gray-900 dark:text-white">{{
      pagination.itemCount
    }}</span>
    Entries
  </span>
  <div class="inline-flex mt-2 xs:mt-0">
    <button
      class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      [disabled]="!pagination.hasPreviousPage"
      [routerLink]="['']"
      [queryParams]="{ page: pagination.pageIndex! - 1, pageNumber: 10 }"
      [queryParamsHandling]="'merge'"
    >
      Prev
    </button>
    <button
      class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      [disabled]="!pagination.hasNextPage"
      [routerLink]="['']"
      [queryParams]="{ page: pagination.pageIndex! + 1, pageNumber: 10 }"
      [queryParamsHandling]="'merge'"
    >
      Next
    </button>
  </div>
</div>
