<article class="flex flex-col">
  <section class="flex flex-col">
    <div class="text-center flex justify-center py-12">
      <h1 class="font-medium">
        Total items: <span>({{ pagination().itemCount }})</span>
      </h1>
    </div>
    <div
      class="flex border-y-2 border-gray-400 py-4 font-semibold justify-center items-center px-6 whitespace-nowrap md:text-lg text-xs"
    >
      <div class="flex justify-center items-center w-1/3">
        <button
          (click)="toggleFiltersOpen()"
          class="flex items-center justify-center"
        >
          FILTERS
          <span class="ml-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75"
              />
            </svg>
          </span>
        </button>
      </div>
      <div class="flex justify-center items-center w-1/3">
        <div class="mx-6 h-6 w-[0.5px] bg-gray-400"></div>
        <div class="flex items-center dropdown">
          <div tabindex="0" role="button" class="m-1 flex items-center">
            ORDER BY
            <span class="ml-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"
                />
              </svg>
            </span>
          </div>
          <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-white text-black rounded-box w-52"
          >
            <li>
              <a
                class="flex items-center justify-center space-x-1 whitespace-nowrap"
                [routerLink]="[]"
                [queryParams]="{ orderBy: 'priceDesc' }"
                [queryParamsHandling]="'merge'"
                >Order By Descending<span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m19.5 8.25-7.5 7.5-7.5-7.5"
                    />
                  </svg> </span
              ></a>
            </li>
            <li>
              <a
                class="flex items-center justify-center space-x-1 whitespace-nowrap"
                [routerLink]="[]"
                [queryParams]="{ orderBy: 'priceAsc' }"
                [queryParamsHandling]="'merge'"
                >Order By Ascending<span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m4.5 15.75 7.5-7.5 7.5 7.5"
                    />
                  </svg> </span
              ></a>
            </li>
          </ul>
        </div>
        <div class="mx-6 h-6 w-[0.5px] bg-gray-400"></div>
      </div>
      <div class="flex justify-center w-1/3 items-center">
        <h1 class="flex items-center justify-center">
          VIEW @for (item of [16,32]; track $index) {
          <span class="ml-2 text-lg font-semibold link">
            <a
              [routerLink]="[]"
              [queryParams]="{
                pageNumber: item
              }"
              [queryParamsHandling]="'merge'"
              >{{ item }}</a
            >
          </span>
          }
        </h1>
      </div>
    </div>
  </section>
  @if(isFiltersOpen) {
  <app-filter
    (close)="toggleFiltersOpen()"
    (clearEvent)="clearFilters()"
    [minMax]="minMax()"
  ></app-filter>
  }
  <app-products-list
    [products]="productsList()"
    [wishlistProductIds]="wishlistProductIds()"
    [pagination]="pagination()"
    (clearEvent)="clearQuery()"
    (modalOpened)="openModal()"
    (addedToWishlist)="addToWishList($event)"
    (removedFromWishlist)="removeFromWishlist($event)"
  ></app-products-list>

  <dialog class="modal" [open]="modal$ | async">
    <div class="modal-box w-11/12 max-w-5xl bg-[#f5f5f5]">
      <div class="modal-action">
        <form method="dialog">
          <button
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-6"
            (click)="closeModal()"
            [routerLink]="'/products'"
          >
            ✕
          </button>
        </form>
      </div>
      <router-outlet></router-outlet>
    </div>
  </dialog>
</article>
