<nav class="mt-6 flex items-center justify-center sm:mt-8">
  <ul class="flex h-8 items-center -space-x-px text-sm">
    <li>
      <button
        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight border border-e-0 rounded-s-lg hover:text-white bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700"
        [disabled]="!pagination.hasPreviousPage"
        [routerLink]="[]"
        [queryParams]="{ page: pagination.pageIndex! - 1 }"
        [queryParamsHandling]="'merge'"
      >
        <span class="sr-only">Previous</span>
        <svg
          class="w-3 h-3 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
      </button>
    </li>
    @for(page of totalPages; track $index) {
    <li>
      <button
        class="flex items-center justify-center px-4 h-10 leading-tight border"
        [routerLink]="[]"
        [queryParams]="{page}"
        [queryParamsHandling]="'merge'"
        [ngClass]="
          isCurrentPage($index + 1)
            ? 'z-10 border border-gray-700 bg-gray-700 text-white'
            : 'hover:text-white bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700'
        "
      >
        {{ page }}
      </button>
    </li>
    }
    <li>
      <button
        class="flex items-center justify-center px-4 h-10 leading-tight border rounded-e-lg bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white"
        [disabled]="!pagination.hasNextPage"
        [routerLink]="[]"
        [queryParams]="{ page: pagination.pageIndex! + 1 }"
        [queryParamsHandling]="'merge'"
      >
        <span class="sr-only">Next</span>
        <svg
          class="w-3 h-3 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
      </button>
    </li>
  </ul>
</nav>