<form
  class="max-w-sm mx-auto"
  [formGroup]="formGroup"
  (submit)="handleSubmit()"
>
  <h3 class="mb-4 text-lg font-medium leading-none text-white py-4">
    New Collection
  </h3>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Collection Name</label
    >
    <input
      [formControlName]="'collectionName'"
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    @if(formGroup.controls['collectionName'].errors?.['required']) {
    <span
      class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
    >
      This field is required.
    </span>
    } @if(formGroup.controls['collectionName'].errors?.['minlength']) {
    <span
      class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
    >
      Minimum length should be at least
      {{ formGroup.controls['collectionName'].errors?.['minlength'].requiredLength }}
      characters.
    </span>
    } @if(formGroup.controls['collectionName'].errors?.['maxlength']) {
    <span
      class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
    >
      Maximum length allowed is
      {{ formGroup.controls['collectionName'].errors?.['maxlength'].requiredLength }}
      characters.
    </span>
    }
  </div>
  <button
    [disabled]="!formGroup.valid"
    type="submit"
    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 disabled:opacity-50 disabled:cursor-not-allowed"
  >
    <span
      class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
    >
      Submit
    </span>
  </button>
</form>
